.env
__pycache__/
.venv/
tests/
venv/
/venv
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.pytest_cache/
.coverage
htmlcov/
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
*.db
*.sqlite3
node_modules/

